@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

                                    /* FONTS AND COLORS */

body{
    margin: 0;
    font-family: Roboto, sans-serif;
}

header, footer{
    background-color: #1F2937;
}

.testimonial{
    background-color: #E5E7EB;
}

.cta-container, .bouton-rdv{
    background-color: #3882F6;
}

h1{
    font-size: 40px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.header-paragraph, a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.bouton-rdv{
    color: white;
}

h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.testimonial-paragraph{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.testimonial-author{
    font-size: 24px;
    font-weight: bold;
}

.cta-title{
    color:#F9FAF8;
    font-weight: 400;
    font-size: 21px;
}

.cta-copy{
    color: #E5E7EB;
}

                                    /* LAYOUTS */

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    width: 1300px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-list{
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
}

a:hover{
    color: #ffffff;
}

@media(max-width: 812px){
    .navbar{
        justify-content: center;
        text-align: center;
    }

    .link-list{
        justify-content: center;
        text-align: center;
    }

    .logo{
        padding: 0 0 20px 0;
    }
}

.link-list *{
    flex: 1 0 auto;
}

.header-content-container{
    display: flex;
    justify-content: center;
}

.header-content{
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    padding: 150px 30px;
}

.header-text{
    padding: 0 30px 0 0;
    flex: 1 0 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@media(max-width: 1136px){
    .header-content{
        justify-content: center;
    }

    .header-text{
        text-align: center;
        align-items: center;
        flex: 1 0 250px;
    }

    .bouton-rdv{
        margin-bottom: 15px;
    }
}

@media(max-width: 454px){
    .header-text{
        align-items: center;
        justify-content: center;
        padding: 0 0;
    }
    
    .header-text h1{
        font-size: 25px;
        flex-basis: auto;
    }

    .header-content{
        padding-top: 10px;
        margin-top: 40px;
        border-top: 1px solid rgb(141, 140, 140);
    }
}

.header-text h1{
    max-width: 600px;
}

.header-paragraph{
    max-width: 700px;
}

.header-content img{
    width: 650px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

.bouton-rdv{
    display: inline;
    padding: 7px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.bouton-rdv:hover{
    background-color: #3881f6ab;
}

.photo-section{
    padding: 50px 0;
}

.photo-section h2{
    text-align: center;
    padding: 0 20px;
    margin: 0 0 50px 0; 
}

.photo-container-container{
    display: flex;
    justify-content: center;
}

.two{
    margin-top: 30px;
}

.photo-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-section img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.testimonial{
    /* padding: 100px 350px 100px 350px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial p{
    margin: 0;
}

blockquote{
    margin-bottom: 10px;
}

blockquote p{
    max-width: 800px;
}

.testimonial .testimonial-author{
    align-self: flex-end;
    padding-right: 500px;
}
